body{

    margin: 0%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "a"
        "b"
        "c";
}
header{
    grid-area: a;
}
.bgpdark{
    background-color: #003d00;
    color: white;
}
.bgplight{
    background-color: #629749;
    color: black;
}
.white{
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}
.title{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
i{
    padding: 0rem 5px;
}
.filter{
    background-color: #629749;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.btn1{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    border-radius: 10px;
    width: 70%;
}
.img{
    display: flex;
    width: 100%;
    
}
.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px grey;
    border-radius: 10px;   
}
.card-hid{
    display: none;
}

.btn2:hover{
    opacity: .5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: b;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;
    width: 80%;
   
}
.btn2{
    margin: 10px 0px 20px 0px;
    background-color: #33691e;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.pages{
    margin: 25px 0px 50px 0px;
}
.pages a{
    text-decoration: none;
    
} 
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
}
footer div{
    align-items: center; 
    padding-top: 20px;
}
footer h2{
    padding-bottom: 10px;
}

